name: Terraform Provisioning

on:
  workflow_dispatch: # Run manually
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve

      - name: Terraform Outputs
        id: outputs
        working-directory: ./terraform
        run: |
          echo "EC2_PUBLIC_IPS=$(terraform output -json ec2_public_ips | jq -r '.[]' | paste -sd, -)"
          echo "ECR_REPOSITORY_URL=$(terraform output -raw ecr_repository_urls.repository_url)"
          echo "NOTE: Copy these values manually into GitHub Secrets for the CI/CD workflow"
